.swagger-ui .topbar {
    background-color: #1b1b1b;
}

.swagger-ui .info .title {
    color: #3b4151;
}

.swagger-ui {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.swagger-ui .scheme-container {
    background-color: #fafafa;
}

.swagger-ui .opblock.opblock-post {
    border-color: #49cc90;
    background: rgba(73, 204, 144, .1);
}

.swagger-ui .opblock.opblock-get {
    border-color: #61affe;
    background: rgba(97, 175, 254, .1);
}

.swagger-ui .opblock.opblock-delete {
    border-color: #f93e3e;
    background: rgba(249, 62, 62, .1);
}

.swagger-ui .opblock.opblock-patch {
    border-color: #50e3c2;
    background: rgba(80, 227, 194, .1);
}